# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Env / credenziali
.env
.venv/
.conda/

# macOS / IDE
.DS_Store
.idea/
.vscode/

# Dati e modelli (se NON li versioni)
data/raw/
data/processed/
models/
results/large_outputs/
utilities
