__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.env
.venv/
.conda/
# macOS / IDE
.DS_Store
.idea/
.vscode/
data/
models/
runs/
tests/
src/
scripts/data_processing/eeglab2025.1.0
scripts/data_processing/Preprocessing-main
results/large_outputs/
utilities/
