__pycache__/
*.py[cod]
*.ipynb_checkpoints/
.env
.venv/
.conda/

# macOS / IDE
.DS_Store

.idea/
.vscode/

data/raw_data/
data/interim/
data/processed/
models/
src/
scripts/data_processing/eeglab2025.1.0/
results/large_outputs/
utilities/
tests/
